.titulo{
	text-align: center;
}

body {
    background-image: url("fondo1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/* mierda que se supone que funciona de internet para colorear la scroll bar */
.seccionimagenes::-webkit-scrollbar {
    height: 10px;
}

.seccionimagenes::-webkit-scrollbar-track {
    background: #222;
}

.seccionimagenes::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px;
}

.seccionimagenes::-webkit-scrollbar-thumb:hover {
    background: #999;
}

/* centrar los textos y titulos */

.secciontexto{
    text-align: center;

    max-width:1500px;   /* maximum width of the text block */
    margin: 50px auto 10px auto;

    padding: 0 20px;    /* small margin for mobile */
}

/* imagenes pequeñas */

.gallery-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.wrapper-galeria {
    display: flex;
    justify-content: center;
}

/* scroll */
.seccionimagenes {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem;
	justify-content: flex-start; /* alineado horizontal (del contenedor)*/
    align-items: center;
	margin-bottom:100px; /* pa dejar hueco entre parte y parte */
}

/* imagenes grandes ocultas */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.9);

    display: none; /*oculto por defecto */
    justify-content: center; /* alineado horizontal (del contenedor)*/
    align-items: center; /* alineado vertical */
}

/* show when targeted */
.lightbox:target { /* cuando lo targueteas con el # */
    display: flex; /*quitar el oculto */
}
.lightbox img {
    max-width: 90vw;
    max-height: 90vh;

    width: auto;
    height: auto;

    object-fit: contain;

    display: block;
}

